body {
    font-family:Arial, Helvetica, sans-serif;
}

.card-text{
    overflow: scroll;
    height: 12rem;
}

.details-h5{
    color: red;
}

.amenity{
    overflow: scroll;
    height: 7rem;
}


.card-body{
    height: 50rem;
    overflow: scroll;
}

.host-info{
    display:flex; 
    align-items: top;
    gap: 10px;
    margin-bottom: 0px;
}

.host-pic{
    width: 7rem;
    height: 7rem;
    border-radius: 5%;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
